.select {
  background-color: var(--bg-color);
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text);
}

.optionOfSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2rem;
}

.hiddenSelect {
  visibility: hidden;
}

.select > p:hover {
  color: var(--accent);
}

.optionOfSelect > p:hover {
  color: var(--accent);
}
