.suggestionCardEditForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 700px;
}

.SuggestionEditSourcePlusAuthor {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}
