/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/*
  #######################################
  #######################################
  #######################################
  */

body {
}

.bg {
    background-color: black;
    color: rgb(0, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    height: 100vh;
    width: 100vw;
    padding: 0.5rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heheader {
    display: flex;
    gap: 0.5rem;
    flex-basis: 2vh;
}

.tab {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    opacity: 50%;
    border: 1px solid;
}
.tab:hover {
    opacity: 70%;
}

.header {
    display: flex;
    gap: 3rem;
    flex-basis: 16vh;
}

.masscont {
    outline: 1px dashed rgb(0, 255, 0);
    width: 15vw;
    height: 100%;
    padding: 1rem;
}

.me-container {
    flex-grow: 1;
}

.input-cont {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lrCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nubBtnCont {
    width: fit-content;
}

.checkboxCont {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: fit-content;
}
.checkbox {
    appearance: none;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    align-items: center;
    border: rgb(0, 255, 0) 1px solid;
}
.checkbox:last-child:hover {
    border: rgb(0, 255, 0) 2px solid;
}

.checkbox:last-child:checked {
    outline: 0.5rem solid rgb(0, 255, 0);
    outline-offset: -0.75rem;
}

input {
    border-radius: 0.5rem;
}

.btn {
    background-color: rgb(0, 255, 0);
    width: fit-content;

}

.btn:hover {
    color: white;
}

.btn:active {
    background-color: rgb(38, 91, 38);
}

.appli-info-container {
    width: 100%;
    flex-grow: 1;
    outline: 1px dashed rgb(0, 255, 0);
}

.dropdown {
    padding-top: 0.2rem;
    text-align: center;
    color: white;
    width: 50%;
    height: 2rem;
    outline: 1px solid rgb(0, 255, 0);
}
.dropdown:hover {
    outline: 1px solid white;
}

#myDropdown {
    position: relative;
    top: 0.35rem;
    outline-offset: -1px;
}
.ddEl {
    outline-offset: -1px;
    outline: 1px solid rgb(0, 255, 0);
    background-color: black;
    height: 2rem;
}
.ddEl:hover {
    outline: 1px solid white;
}

.hide {
    visibility: hidden;
}

.lastRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

